body{background-color: #D4E79E;}
h1{text-align: center;}
#form{width: 40vw;margin-left: 35vw;margin-top: 10vh;}
#play{margin-left: 6em;}
#instructions{width: 30vw;margin-top: 1em;border: 1px solid #D4E79E;border-radius: 5%;background-color: #ffff;}
h2{text-align: center;}
p{padding-left: 0.5em;}